In [2]:
import ast
import requests
import json
import pandas as pd
import re
from urllib.request import Request, urlopen
import urllib.request
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
import time
import numpy as np
import random
from datetime import datetime, timedelta

In [3]:
chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome("C:/Users/USER/Desktop/chromedriver_win32/chromedriver.exe",chrome_options=chrome_options)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: use options instead of chrome_options
  if __name__ == '__main__':

In [4]:
driver.get("https://www.persee.fr/collections")

In [5]:
collection = pd.DataFrame(index=list(np.arange(326)), columns=['NomCollection','Nb_Numero','Nb_Doc','Annee_creation','Annee_fin'])

list_nc = []
list_nbd = []
list_nbn = []
list_ac = []
list_f= []


for i in range(326):
    nomCollection = driver.find_elements_by_class_name("collection-title")[i].text
    details =  driver.find_elements_by_class_name("collection-details")[i].text
    
    try :
        nb_numero = int(((re.search("[0-9]+"+" numéros",str(details))).group(0))[:-8])
    except:
        nb_numero=None
        pass
    
    
    try :
        nb_doc = int((((re.search("[0-9]+"+ " documents",str(details)))).group(0))[:-10])
    except:
        nb_doc=None
        pass
    
    try :
    	annee_crea = (((re.search("documents, "+"[0-9]+",str(details))).group(0))[11:])
    except:
        annee_crea = None
        pass
    
    try :
        annee_fin = (((re.search("-"+"[0-9]+",str(details))).group(0))[1:])
    except:
        annee_fin = None
        pass

    list_nc.append(nomCollection)
    list_nbn.append(nb_numero)
    list_ac.append(annee_crea)
    list_f.append(annee_fin)
    list_nbd.append(nb_doc)

collection["NomCollection"] = list_nc
collection["Nb_Numero"] = list_nbn
collection["Nb_Doc"] = list_nbd
collection["Annee_creation"] =list_ac
collection["Annee_fin"] =list_f

,NomCollection,Nb_Numero,Nb_Doc,Annee_creation,Annee_fin
0,Actes de la Recherche en Sciences Sociales,121.0,1477,1975,2003
1,Actes des congrès de la Société d’Archéologie ...,7.0,214,1987,2001
2,Actes des congrès de la Société des historiens...,38.0,765,1970,2007
3,Actes du Groupe de Recherches sur l’Esclavage ...,11.0,236,1972,2015
4,L'Actualité économique,NaN,3567,None,None
...,...,...,...,...,...
321,Villes en Parallèle,38.0,677,1978,2018
322,Vingtième Siècle. Revue d'histoire,72.0,3370,1984,2001
323,Vita Latina,74.0,854,1989,2017
324,XVII-XVIII. Revue de la Société d'études anglo...,83.0,1309,1975,2011
325,"1895, revue d'histoire du cinéma",36.0,659,1986,2000

In [14]:
collection = collection.replace('Hommes & Migrations', 'Hommes et Migrations')

In [18]:
collection

,NomCollection,Nb_Numero,Nb_Doc,Annee_creation,Annee_fin
0,Actes de la Recherche en Sciences Sociales,121.0,1477,1975,2003
1,Actes des congrès de la Société d’Archéologie ...,7.0,214,1987,2001
2,Actes des congrès de la Société des historiens...,38.0,765,1970,2007
3,Actes du Groupe de Recherches sur l’Esclavage ...,11.0,236,1972,2015
4,L'Actualité économique,NaN,3567,None,None
...,...,...,...,...,...
321,Villes en Parallèle,38.0,677,1978,2018
322,Vingtième Siècle. Revue d'histoire,72.0,3370,1984,2001
323,Vita Latina,74.0,854,1989,2017
324,XVII-XVIII. Revue de la Société d'études anglo...,83.0,1309,1975,2011
325,"1895, revue d'histoire du cinéma",36.0,659,1986,2000